In [1]:
import pyodbc
from dotenv import dotenv_values 
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [2]:
environment_variables = dotenv_values('.env')

In [3]:
database = environment_variables.get("DATABASE")
server = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

connection_string = f"DRIVER={{SQL SERVER}};SERVER={server};DATABASE={database};UID{username};PWD={password}"

In [4]:
import pyodbc    
from dotenv import dotenv_values   
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

# connection parameters
server = 'dap-projects-database.database.windows.net'
database = 'dapDB'
username = 'LP1_learner'
password = 'Hyp0th3s!$T3$t!ng'

# Create connection string
connection_string = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;'

connection = pyodbc.connect(connection_string)
print("Connected to the database!")

Connected to the database!

In [5]:
##what tables are in the DB
query = """
        SELECT *
        FROM INFORMATION_SCHEMA.TABLES 
        WHERE TABLE_TYPE='BASE TABLE';
    """
datasets =pd.read_sql(query,connection)
datasets

  TABLE_CATALOG TABLE_SCHEMA               TABLE_NAME  TABLE_TYPE
0         dapDB          dbo  LP1_startup_funding2021  BASE TABLE
1         dapDB          dbo  LP1_startup_funding2020  BASE TABLE

In [6]:
query = "SELECT * FROM LP1_startup_funding2021"
data1= pd.read_sql(query, connection)
data1.head(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [7]:
data1.tail(10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
1199,Proeon,2018.0,Pune,Food Production,Innovating plant protein ingredients with supe...,"Ashish Korde, Kevin Parekh","Shaival Desai, Flowstate Ventures",$2000000,Seed
1200,InfyU Labs,2019.0,Gandhinagar,AgriTech,InfyU Labs is a team of dedicated professional...,"Amit Srivastava, Ankit Chauhan",IAN,$200000,Seed
1201,TechEagle,2015.0,Gurugram,Aviation & Aerospace,"Safe, secure & reliable On-Demand Drone delive...",Vikram Singh Meena,India Accelerator,$500000,Seed
1202,Voxelgrids,2017.0,Bangalore,Deeptech,Voxelgrids is an Magnetic Resonance Imaging te...,Arjun Arunachalam,Zoho,$5000000,None
1203,Cogos Technologies,2016.0,Bangalore,Logistics & Supply Chain,A smart-tech-enabled platform offering a one-s...,Prasad Sreeram,Transworld Group,$2000000,Pre-series A
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [8]:
data1.shape

(1209, 9)

In [9]:
data1.info

<bound method DataFrame.info of        Company_Brand  Founded HeadQuarter                 Sector  \
0     Unbox Robotics   2019.0   Bangalore             AI startup
1             upGrad   2015.0      Mumbai                 EdTech
2        Lead School   2012.0      Mumbai                 EdTech
3            Bizongo   2015.0      Mumbai         B2B E-commerce
4           FypMoney   2021.0    Gurugram                FinTech
...              ...      ...         ...                    ...
1204        Gigforce   2019.0    Gurugram  Staffing & Recruiting
1205          Vahdam   2015.0   New Delhi       Food & Beverages
1206    Leap Finance   2019.0   Bangalore     Financial Services
1207    CollegeDekho   2015.0    Gurugram                 EdTech
1208          WeRize   2019.0   Bangalore     Financial Services

                                           What_it_does  \
0     Unbox Robotics builds on-demand AI-driven ware...
1        UpGrad is an online higher education platform.
2     LEAD School offers technology based school tra...
3     Bizongo is a business-to-business online marke...
4     FypMoney is Digital NEO Bank for Teenagers, em...
...                                                 ...
1204                  A gig/on-demand staffing company.
1205  VAHDAM is among the world’s first vertically i...
1206  International education loans for high potenti...
1207  Collegedekho.com is Student’s Partner, Friend ...
1208  India’s first socially distributed full stack ...

                                               Founders  \
0                           Pramod Ghadge, Shahid Memon
1     Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...
2                            Smita Deorah, Sumeet Mehta
3               Aniket Deb, Ankit Tomar, Sachin Agrawal
4                                         Kapil Banwari
...                                                 ...
1204                        Chirag Mittal, Anirudh Syal
1205                                         Bala Sarda
1206                         Arnav Kumar, Vaibhav Singh
1207                                       Ruchir Arora
1208                      Vishal Chopra, Himanshu Gupta

                                           Investor        Amount  \
0                       BEENEXT, Entrepreneur First    $1,200,000
1          Unilazer Ventures, IIFL Asset Management  $120,000,000
2                  GSV Ventures, Westbridge Capital   $30,000,000
3                            CDC Group, IDG Capital   $51,000,000
4     Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal    $2,000,000
...                                             ...           ...
1204                                Endiya Partners      $3000000
1205                                       IIFL AMC     $20000000
1206                                   Owl Ventures     $55000000
1207               Winter Capital, ETS, Man Capital     $26000000
1208                 3one4 Capital, Kalaari Capital      $8000000

             Stage
0     Pre-series A
1             None
2         Series D
3         Series C
4             Seed
...            ...
1204  Pre-series A
1205      Series D
1206      Series C
1207      Series B
1208      Series A

[1209 rows x 9 columns]>

In [10]:
data1["Amount"]

0         $1,200,000
1       $120,000,000
2        $30,000,000
3        $51,000,000
4         $2,000,000
            ...
1204        $3000000
1205       $20000000
1206       $55000000
1207       $26000000
1208        $8000000
Name: Amount, Length: 1209, dtype: object

In [13]:
data1["Amount"] = data1.Amount.apply(lambda x:str(x).replace("$",""))

# Remove dollar sign

In [15]:
data1["Amount"]

0         1,200,000
1       120,000,000
2        30,000,000
3        51,000,000
4         2,000,000
           ...
1204        3000000
1205       20000000
1206       55000000
1207       26000000
1208        8000000
Name: Amount, Length: 1209, dtype: object

In [16]:
data1["Amount"] = data1.Amount.apply(lambda x:str(x).replace("",""))

In [17]:
data1.info

<bound method DataFrame.info of        Company_Brand  Founded HeadQuarter                 Sector  \
0     Unbox Robotics   2019.0   Bangalore             AI startup
1             upGrad   2015.0      Mumbai                 EdTech
2        Lead School   2012.0      Mumbai                 EdTech
3            Bizongo   2015.0      Mumbai         B2B E-commerce
4           FypMoney   2021.0    Gurugram                FinTech
...              ...      ...         ...                    ...
1204        Gigforce   2019.0    Gurugram  Staffing & Recruiting
1205          Vahdam   2015.0   New Delhi       Food & Beverages
1206    Leap Finance   2019.0   Bangalore     Financial Services
1207    CollegeDekho   2015.0    Gurugram                 EdTech
1208          WeRize   2019.0   Bangalore     Financial Services

                                           What_it_does  \
0     Unbox Robotics builds on-demand AI-driven ware...
1        UpGrad is an online higher education platform.
2     LEAD School offers technology based school tra...
3     Bizongo is a business-to-business online marke...
4     FypMoney is Digital NEO Bank for Teenagers, em...
...                                                 ...
1204                  A gig/on-demand staffing company.
1205  VAHDAM is among the world’s first vertically i...
1206  International education loans for high potenti...
1207  Collegedekho.com is Student’s Partner, Friend ...
1208  India’s first socially distributed full stack ...

                                               Founders  \
0                           Pramod Ghadge, Shahid Memon
1     Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...
2                            Smita Deorah, Sumeet Mehta
3               Aniket Deb, Ankit Tomar, Sachin Agrawal
4                                         Kapil Banwari
...                                                 ...
1204                        Chirag Mittal, Anirudh Syal
1205                                         Bala Sarda
1206                         Arnav Kumar, Vaibhav Singh
1207                                       Ruchir Arora
1208                      Vishal Chopra, Himanshu Gupta

                                           Investor       Amount         Stage
0                       BEENEXT, Entrepreneur First    1,200,000  Pre-series A
1          Unilazer Ventures, IIFL Asset Management  120,000,000          None
2                  GSV Ventures, Westbridge Capital   30,000,000      Series D
3                            CDC Group, IDG Capital   51,000,000      Series C
4     Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal    2,000,000          Seed
...                                             ...          ...           ...
1204                                Endiya Partners      3000000  Pre-series A
1205                                       IIFL AMC     20000000      Series D
1206                                   Owl Ventures     55000000      Series C
1207               Winter Capital, ETS, Man Capital     26000000      Series B
1208                 3one4 Capital, Kalaari Capital      8000000      Series A

[1209 rows x 9 columns]>

In [18]:
data1.dtypes

Company_Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What_it_does      object
Founders          object
Investor          object
Amount            object
Stage             object
dtype: object

In [20]:
data1.isna().sum()
# Check missing values

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount             0
Stage            428
dtype: int64

In [26]:
data_missing = data1[data1.isna().Stage]

In [27]:
data_missing

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","120,000,000",None
5,Urban Company,2014.0,New Delhi,Home services,Urban Company (Formerly UrbanClap) is a home a...,"Abhiraj Singh Bhal, Raghav Chandra, Varun Khaitan",Vy Capital,"188,000,000",None
6,Comofi Medtech,2018.0,Bangalore,HealthTech,Comofi Medtech is a healthcare robotics startup.,Gururaj KB,"CIIE.CO, KIIT-TBI","200,000",None
8,Vitra.ai,2020.0,Bangalore,Tech Startup,Vitra.ai is an AI-based video translation plat...,Akash Nidhi PS,Inflexor Ventures,Undisclosed,None
9,Taikee,2010.0,Mumbai,E-commerce,"Taikee is the ISO-certified, B2B e-commerce pl...","Nidhi Ramachandran, Sachin Chhabra",None,"1,000,000",None
...,...,...,...,...,...,...,...,...,...
1172,Peppermint,2019.0,Pune,Industrial Automation,Intelligent Housekeeping Robots for public and...,"Runal Dahiwade, Miraj C Vora","Venture Catalysts, Indian Angel Network",600000,None
1182,Sugar.fit,2021.0,Bangalore,Health,"Innovative technology, compassionate diabetes ...","Shivtosh Kumar, Madan Somasundaram","Cure.fit, Endiya Partners, Tanglin Venture",10000000,None
1192,Geniemode,2021.0,Gurugram,B2B,Transforming global sourcing for retailers & s...,"Amit Sharma, Tanuj Gangwani",Info Edge Ventures,2000000,None
1193,Sapio Analytics,2019.0,Mumbai,Computer Software,Sapio helps government create policies driven ...,"Hardik Somani, Ashwin Srivastava, Shripal Jain...","Rachit Poddar, Rajesh Gupta",Undisclosed,None
1202,Voxelgrids,2017.0,Bangalore,Deeptech,Voxelgrids is an Magnetic Resonance Imaging te...,Arjun Arunachalam,Zoho,5000000,None

In [28]:
data_drop_stage = data1.dropna()

In [29]:
data_drop_stage.shape

(742, 9)

In [31]:
# Check for duplicate value
data1.duplicated().sum()

19

In [35]:
data1 = data1.drop_duplicates(keep='last')
# Clean duplicate values and keep last value

In [37]:
# Check again for duplicates
data1.duplicated().sum()

0

In [39]:
print(data_missing)

        Company_Brand  Founded HeadQuarter                 Sector  \
1              upGrad   2015.0      Mumbai                 EdTech
5       Urban Company   2014.0   New Delhi          Home services
6      Comofi Medtech   2018.0   Bangalore             HealthTech
8            Vitra.ai   2020.0   Bangalore           Tech Startup
9              Taikee   2010.0      Mumbai             E-commerce
...               ...      ...         ...                    ...
1172       Peppermint   2019.0        Pune  Industrial Automation
1182        Sugar.fit   2021.0   Bangalore                 Health
1192        Geniemode   2021.0    Gurugram                    B2B
1193  Sapio Analytics   2019.0      Mumbai      Computer Software
1202       Voxelgrids   2017.0   Bangalore               Deeptech

                                           What_it_does  \
1        UpGrad is an online higher education platform.
5     Urban Company (Formerly UrbanClap) is a home a...
6      Comofi Medtech is a healthcare robotics startup.
8     Vitra.ai is an AI-based video translation plat...
9     Taikee is the ISO-certified, B2B e-commerce pl...
...                                                 ...
1172  Intelligent Housekeeping Robots for public and...
1182  Innovative technology, compassionate diabetes ...
1192  Transforming global sourcing for retailers & s...
1193  Sapio helps government create policies driven ...
1202  Voxelgrids is an Magnetic Resonance Imaging te...

                                               Founders  \
1     Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...
5     Abhiraj Singh Bhal, Raghav Chandra, Varun Khaitan
6                                            Gururaj KB
8                                        Akash Nidhi PS
9                    Nidhi Ramachandran, Sachin Chhabra
...                                                 ...
1172                       Runal Dahiwade, Miraj C Vora
1182                 Shivtosh Kumar, Madan Somasundaram
1192                        Amit Sharma, Tanuj Gangwani
1193  Hardik Somani, Ashwin Srivastava, Shripal Jain...
1202                                  Arjun Arunachalam

                                        Investor       Amount Stage
1       Unilazer Ventures, IIFL Asset Management  120,000,000  None
5                                     Vy Capital  188,000,000  None
6                              CIIE.CO, KIIT-TBI      200,000  None
8                              Inflexor Ventures  Undisclosed  None
9                                           None    1,000,000  None
...                                          ...          ...   ...
1172     Venture Catalysts, Indian Angel Network       600000  None
1182  Cure.fit, Endiya Partners, Tanglin Venture     10000000  None
1192                          Info Edge Ventures      2000000  None
1193                 Rachit Poddar, Rajesh Gupta  Undisclosed  None
1202                                        Zoho      5000000  None

[428 rows x 9 columns]

In [41]:
data1.drop(columns=data_drop_stage)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 97, 99, 100, 101, 102, ...]

[1190 rows x 0 columns]

In [42]:
print(data_missing)

        Company_Brand  Founded HeadQuarter                 Sector  \
1              upGrad   2015.0      Mumbai                 EdTech
5       Urban Company   2014.0   New Delhi          Home services
6      Comofi Medtech   2018.0   Bangalore             HealthTech
8            Vitra.ai   2020.0   Bangalore           Tech Startup
9              Taikee   2010.0      Mumbai             E-commerce
...               ...      ...         ...                    ...
1172       Peppermint   2019.0        Pune  Industrial Automation
1182        Sugar.fit   2021.0   Bangalore                 Health
1192        Geniemode   2021.0    Gurugram                    B2B
1193  Sapio Analytics   2019.0      Mumbai      Computer Software
1202       Voxelgrids   2017.0   Bangalore               Deeptech

                                           What_it_does  \
1        UpGrad is an online higher education platform.
5     Urban Company (Formerly UrbanClap) is a home a...
6      Comofi Medtech is a healthcare robotics startup.
8     Vitra.ai is an AI-based video translation plat...
9     Taikee is the ISO-certified, B2B e-commerce pl...
...                                                 ...
1172  Intelligent Housekeeping Robots for public and...
1182  Innovative technology, compassionate diabetes ...
1192  Transforming global sourcing for retailers & s...
1193  Sapio helps government create policies driven ...
1202  Voxelgrids is an Magnetic Resonance Imaging te...

                                               Founders  \
1     Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...
5     Abhiraj Singh Bhal, Raghav Chandra, Varun Khaitan
6                                            Gururaj KB
8                                        Akash Nidhi PS
9                    Nidhi Ramachandran, Sachin Chhabra
...                                                 ...
1172                       Runal Dahiwade, Miraj C Vora
1182                 Shivtosh Kumar, Madan Somasundaram
1192                        Amit Sharma, Tanuj Gangwani
1193  Hardik Somani, Ashwin Srivastava, Shripal Jain...
1202                                  Arjun Arunachalam

                                        Investor       Amount Stage
1       Unilazer Ventures, IIFL Asset Management  120,000,000  None
5                                     Vy Capital  188,000,000  None
6                              CIIE.CO, KIIT-TBI      200,000  None
8                              Inflexor Ventures  Undisclosed  None
9                                           None    1,000,000  None
...                                          ...          ...   ...
1172     Venture Catalysts, Indian Angel Network       600000  None
1182  Cure.fit, Endiya Partners, Tanglin Venture     10000000  None
1192                          Info Edge Ventures      2000000  None
1193                 Rachit Poddar, Rajesh Gupta  Undisclosed  None
1202                                        Zoho      5000000  None

[428 rows x 9 columns]

In [43]:
data1.info

<bound method DataFrame.info of        Company_Brand  Founded HeadQuarter                 Sector  \
0     Unbox Robotics   2019.0   Bangalore             AI startup
1             upGrad   2015.0      Mumbai                 EdTech
2        Lead School   2012.0      Mumbai                 EdTech
3            Bizongo   2015.0      Mumbai         B2B E-commerce
4           FypMoney   2021.0    Gurugram                FinTech
...              ...      ...         ...                    ...
1204        Gigforce   2019.0    Gurugram  Staffing & Recruiting
1205          Vahdam   2015.0   New Delhi       Food & Beverages
1206    Leap Finance   2019.0   Bangalore     Financial Services
1207    CollegeDekho   2015.0    Gurugram                 EdTech
1208          WeRize   2019.0   Bangalore     Financial Services

                                           What_it_does  \
0     Unbox Robotics builds on-demand AI-driven ware...
1        UpGrad is an online higher education platform.
2     LEAD School offers technology based school tra...
3     Bizongo is a business-to-business online marke...
4     FypMoney is Digital NEO Bank for Teenagers, em...
...                                                 ...
1204                  A gig/on-demand staffing company.
1205  VAHDAM is among the world’s first vertically i...
1206  International education loans for high potenti...
1207  Collegedekho.com is Student’s Partner, Friend ...
1208  India’s first socially distributed full stack ...

                                               Founders  \
0                           Pramod Ghadge, Shahid Memon
1     Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...
2                            Smita Deorah, Sumeet Mehta
3               Aniket Deb, Ankit Tomar, Sachin Agrawal
4                                         Kapil Banwari
...                                                 ...
1204                        Chirag Mittal, Anirudh Syal
1205                                         Bala Sarda
1206                         Arnav Kumar, Vaibhav Singh
1207                                       Ruchir Arora
1208                      Vishal Chopra, Himanshu Gupta

                                           Investor       Amount         Stage
0                       BEENEXT, Entrepreneur First    1,200,000  Pre-series A
1          Unilazer Ventures, IIFL Asset Management  120,000,000          None
2                  GSV Ventures, Westbridge Capital   30,000,000      Series D
3                            CDC Group, IDG Capital   51,000,000      Series C
4     Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal    2,000,000          Seed
...                                             ...          ...           ...
1204                                Endiya Partners      3000000  Pre-series A
1205                                       IIFL AMC     20000000      Series D
1206                                   Owl Ventures     55000000      Series C
1207               Winter Capital, ETS, Man Capital     26000000      Series B
1208                 3one4 Capital, Kalaari Capital      8000000      Series A

[1190 rows x 9 columns]>

In [44]:
data1.isna().sum() #missing values

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          61
Amount             0
Stage            421
dtype: int64

In [46]:
data1_dropped_rows = data1.dropna()  #drop rows with missing values

In [47]:
data1.isna().sum() #missing values

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          61
Amount             0
Stage            421
dtype: int64

In [48]:
data1_dropped_cols = data1.dropna(axis=1)

In [49]:
data1.isna().sum() #missing values

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          61
Amount             0
Stage            421
dtype: int64

In [51]:
array_Investor = data1['Investor'].values
print(array_Investor)

['BEENEXT, Entrepreneur First' 'Unilazer Ventures, IIFL Asset Management'
 'GSV Ventures, Westbridge Capital' ... 'Owl Ventures'
 'Winter Capital, ETS, Man Capital' '3one4 Capital, Kalaari Capital']

In [52]:
array_Stage = data1['Stage'].values
print(array_Stage)

['Pre-series A' None 'Series D' ... 'Series C' 'Series B' 'Series A']

In [53]:
array_Founders = data1['Founders'].values
print(array_Founders)

['Pramod Ghadge, Shahid Memon'
 'Mayank Kumar, Phalgun Kompalli, Ravijot Chugh, Ronnie Screwvala'
 'Smita Deorah, Sumeet Mehta' ... 'Arnav Kumar, Vaibhav Singh'
 'Ruchir Arora' 'Vishal Chopra, Himanshu Gupta']

In [55]:
data1.describe()

           Founded
count  1189.000000
mean   2016.634146
std       4.522098
min    1963.000000
25%    2015.000000
50%    2018.000000
75%    2020.000000
max    2021.000000

In [57]:
data1['Founded']

0       2019.0
1       2015.0
2       2012.0
3       2015.0
4       2021.0
         ...
1204    2019.0
1205    2015.0
1206    2019.0
1207    2015.0
1208    2019.0
Name: Founded, Length: 1190, dtype: float64

In [58]:
data1.dtypes

Company_Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What_it_does      object
Founders          object
Investor          object
Amount            object
Stage             object
dtype: object

In [60]:
data1.isna().any()

Company_Brand    False
Founded           True
HeadQuarter       True
Sector           False
What_it_does     False
Founders          True
Investor          True
Amount           False
Stage             True
dtype: bool